@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
}

.w-16{
    width: 16%;
}

.w-10{
    width: 10%;
}

::placeholder{
    color: #c9c9c9;

  }

/* ################ UTILITY CLASSES #################### */

span{
    font-size: 16px;
    font-weight: 400;
}

p{
    font-size: 30px;
    font-weight: 600;
}

i{
    color:#999999;
    margin: 5px;
}

label{
    font-size: 16px;
    font-weight: 400;
}

.btn{
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    margin: 10px;
    width: 80px;
    height: 35px;
}

/* #############TIMER SECTION############### */

.left-nav{
    z-index: 2;
}

.timer-bg-box{
    border: 3px solid rgb(143, 142, 142);
    border-radius: 20px;
    margin: 20px;
}

.time-section{
margin: 10px 0px 0px 0px ;
}
.break-section{
margin: 10px 0px 0px 0px;
}

/* ################ Timer Settings menu #################### */

.menu{
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top:0px;
    left:350px;
    visibility: hidden;
}

.menu span{
    font-size: 18px;
    font-weight: 600;
}
.menu.active{
    visibility: visible;
}

.save{
    width: 90px;
    display: block;
    height: 30px;
    margin: 20px auto;
    cursor: pointer;
    text-align: center !important;
}

.p_sets{
    padding-top: 15px;
}
.b_sets{
    padding-top: 15px;
}

.input-style{
    appearance: none;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    width: 52px;
}

.timer-volume{
    padding-top: 40px;
}


/* video section */
.vid{
    position: fixed;
    left:300px;
    top:-100px;
    background-repeat: no-repeat;
    object-fit: contain;
    z-index: -20;
}



.video-buttons-box{
    position: fixed;
    right:0px;
    bottom: 0px;
    margin: 15px;
    width: 400px;
}

.video-buttons-box-style{
    border-radius: 10px;
    margin: 10px;
    height: 40px;
    z-index: 2;
}