@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
}

.w-20{
    width: 20%;
}

.w-12{
    width: 12%;
}

::placeholder{
    color: #c9c9c9;

  }

/* ################ UTILITY CLASSES #################### */

span{
    font-size: 22px;
    font-weight: 400;
}

p{
    font-size: 32px;
    font-weight: 600;
}

i{
    color:#c9c9c9;
    margin: 10px;
}

label{
    font-size: 16px;
    font-weight: 400;
}

.btn{
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    margin: 10px;
    width: 120px;
    height: 35px;
}

/* #############TIMER SECTION############### */

.left-nav{
    z-index: 2;
}

.timer-bg-box{
    border: 3px solid rgb(143, 142, 142);
    border-radius: 20px;
    margin: 20px;
}

.pomodoro{
 margin: 10px 0px;
}
.break{
 margin: 10px 0px;
}

.time-section{
margin: 10px 0px;
}
.break-section{
margin: 10px 0px;
}

/* ################ Timer Settings menu #################### */

.menu{
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top:0px;
    left:450px;
    visibility: hidden;
}

.menu.active{
    visibility: visible;
}

.save{
    width: 90px;
    display: block;
    height: 30px;
    margin: 20px auto;
    cursor: pointer;
    text-align: center !important;
}

.p_sets{
    padding: 20px 0px;
}
.b_sets{
    padding: 15px 0px;
}

.input-style{
    appearance: none;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    width: 65px;
}

.timer-volume{
    padding: 20px 0px;
}


/* video section */
.vid{
    position: fixed;
    left:400px;
    top:0px;
    background-repeat: no-repeat;
    object-fit: contain;
    z-index: -20;
    
}